# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
.DS_Store

# Ignore database config
config/database.yml

# Ignore sqlite3 databases
**/*.sqlite*

# Ignore general local files
Guardfile
.env

