<% page_title! 'Gems up for Adoption' %>

<header class="gems__header">
  <p class="gems__meter">
    <%= page_entries_info @gems_adoptions, entry_name: 'gem' %>
  </p>
</header>

<% if @gems_adoptions.any? %>
  <%= render @gems_adoptions %>
  <%= paginate @gems_adoptions %>
<% end %>