<% page_title! 'Recent activity' %>

<header class="gems__header">
  <p class="gems__meter">
    <%= page_entries_info @ownership_transfers, entry_name: 'transaction' %>
  </p>
</header>

<% if @ownership_transfers.any? %>
  <%= render @ownership_transfers %>
  <%= paginate @ownership_transfers %>
<% end %>