<h1>Hi <%= @user.username %></h1>
<br>
<div>
  <p>Your adoption request for the gem <b><%= @ruby_gem.name %></b> in the Rubygems Adoption Center has been <%= @status %>.</p>
  <p>Best regards,</p>
  <p>RubyGems Adoption Center.</p>
</div>
