---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/owners/ammancilla/gems.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"85ebe6106fb5cfccc71d267f9a383a6f"
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"play_hangman","downloads":662,"version":"0.0.3","version_downloads":331,"platform":"ruby","authors":"Alfonso
        Mancilla","info":"Play Hangman on your console! Install, run the command ''play_hangman''
        and enjoy.\nThis game was built using the ''hangman_engine'' gem. Check it
        out to build your own Hangman game.","licenses":["MIT"],"metadata":{},"sha":"c404237eaafd12833ee64dc40d13d310ac717570236fd0ef985063405a9fd25c","project_uri":"https://rubygems.org/gems/play_hangman","gem_uri":"https://rubygems.org/gems/play_hangman-0.0.3.gem","homepage_uri":"https://github.com/ammancilla/play_hangman","wiki_uri":null,"documentation_uri":"http://www.rubydoc.info/gems/play_hangman/0.0.3","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[],"runtime":[{"name":"console_view_helper","requirements":"~\u003e
        0.0.4"},{"name":"hangman_engine","requirements":"~\u003e 0.0.1"}]}},{"name":"hangman_engine","downloads":386,"version":"0.0.1","version_downloads":386,"platform":"ruby","authors":"Alfonso
        Mancilla","info":"Use this library to build your own HANGMAN game.\nHangmanEngine::Game
        have all you need to control the game flow.\nHangmanEngine::Drawer will help
        you to build a console based interface for your HangmanEngine::Game","licenses":["MIT"],"metadata":{},"sha[...]
