<% provide(:title, "Home") %>
<div class="jumbotron">
  <h1>Adopt a gem</h1>
  <p class="lead">RubyGems needs a way to mark a gem as "maintainer needed" or "someone please take this gem over". This project would drive the creation of an "Adoption Center" where people could list gems that want a maintainer/someone new to help fix issues, cut releases, etc, and then assist in the handoff of the gem.</p>
  <%= render :partial => 'search_gems' %>
</div>
