
	<section class = "about">
		<div class = "wrapper">
		<h1>Adopts a gems</h1>
		<p>RubyGems needs a way to mark a gem as "maintainer needed" or "someone please take this gem over". This project would drive the creation of an "Adoption Center" where people could list gems that want a maintainer/someone new to help fix issues, cut releases, etc, and then assist in the handoff of the gem.</p>
</div>

	</section>	
