<% page_title! 'Adoptions Requests' %>

<h1>Adoption Requests</h1>
<% if @gems_adoptions.empty? %>
  <p>You don't have gems up for adoption</p>
<% else %>
  <% @gems_adoptions.each do |gem_adoption| %>
    <div>
      <h2 class="text-muted gem-name"><%= gem_adoption.ruby_gem.name %></h2><br>
      <%= render(gem_adoption.adoption_requests) || "<p>No adoption requests yet.</p>".html_safe %>
    </div>
  <% end %>
<% end %>
