<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>RubyGems AdoptionCenter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header><div class = "wrapper">
    <nav class="navbar navbar-custom ">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">RubyGems Adoption Center</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse ">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Sign in</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div><!--/.container -->
    </nav></div>
  </header>

<%= yield %>

</body>
</html>
